body{
    font-size: 18px;
    color: #412821;
    background-color: #d4e9c2;
    margin: 1%;
}
nav{
    font-size: 24px;
}
h1{
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
h2{
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(47, 62, 18);
}
h3{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(47, 62, 18);
}
p{
    line-height: 1.5;
}

img{
    border: 3px solid rgb(47, 62, 18);
    padding: 5px;
    margin: 5px auto;
    border-top-right-radius: 30px;
    width: 90%;
}
ul{
    display: list-item;
    list-style: disc;
    margin-left: 20px;
}

.skip-to-content {
    position: absolute;
    top: -40px;
    left: 0;
    padding: 10px;
}

.skip-to-content:focus {
    position: relative;
    top: 0;
}

nav a.current-page {
    background-color: #0a380a;
    color: #d4e9c2;
    font-weight: bold;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 10px auto;
    width: 90%;
    padding: 5px;
}

.column {
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    max-width: 100%;
}

@media screen and (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.001ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.001ms !important;
    }
  }

@media screen and (min-width: 768px) {
    nav ul, .recipe_description {
        display: flex;
        justify-content: space-around;
    }

    nav li, .recipe_description {
        list-style: none;
    }
    header {
        background-color: rgb(137, 179, 137);
        padding: 10px;
    }

    .item {
        margin: 20px 0px 20px 0px;
    }

    .gallery-parks {
        display: flex;
        flex-wrap: wrap;
        border: 3px double #412821;
        align-items: flex-start;
        margin: 10px auto;
        padding: 5px;
    }

    .column {
        flex: 50%;
        max-width: 50%;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 5px 0px 5px 0px;
        justify-items: center;
        align-items: center;
    }
}
